[tool.ruff.lint]
preview = true
select = ["E101", "E225", "E23", "E24", "E3", "E4", "E7", "E9", "F", "PLR0402", "RET506", "UP032", "W29"]
ignore = ["E402", "E711", "E712", "E721", "E722"]

[tool.importlinter]
root_package = "app"
include_external_packages = true

[[tool.importlinter.contracts]]
name = "Do not import sqlalchemy from the API layer"
type = "forbidden"
source_modules = "app.blueprints.rest.search_routes"
forbidden_modules = "sqlalchemy"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import sqlalchemy from the business layer"
type = "forbidden"
source_modules = "app.business.search"
forbidden_modules = "sqlalchemy"
allow_indirect_imports = true
