[tool.ruff.lint]
preview = true
select = ["ARG003", "ARG005", "B00", "E101", "E225", "E23", "E24", "E3", "E4", "E7", "E9", "F", "FURB142", "FURB145", "FURB148", "PLR0402", "RET506", "RUF029", "RUF100", "TID252", "UP032", "W29"]
ignore = ["E402", "E711", "E712", "E721", "E722"]

[tool.vulture]
paths = ["source/app", ".vulture.ignore"]
ignore_decorators = ["@*.route", "@app.*", "@*.post", "@*.get", "@*.put", "@*.delete", "@pre_load"]

[tool.importlinter]
root_package = "app"
include_external_packages = true

[[tool.importlinter.contracts]]
name = "Do not import the persistence layer from the API layer"
type = "forbidden"
source_modules = "app.blueprints.rest.v2"
forbidden_modules = "app.datamgmt"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import sqlalchemy from the API layer"
type = "forbidden"
source_modules = ["app.blueprints.rest.search_routes", "app.blueprints.rest.dim_tasks_routes", "app.blueprints.rest.case.case_notes_routes", "app.blueprints.rest.case.case_routes"]
forbidden_modules = "sqlalchemy"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import API layer from the business layer"
type = "forbidden"
source_modules = ["app.business.access_controls", "app.business.assets", "app.business.cases"]
forbidden_modules = "app.blueprints.iris_user"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import sqlalchemy from the business layer"
type = "forbidden"
source_modules = "app.business"
forbidden_modules = "sqlalchemy"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import API layer from the persistence layer"
type = "forbidden"
source_modules = "app.datamgmt.dashboard"
forbidden_modules = "app.blueprints.iris_user"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import marshables from the persistence layer"
type = "forbidden"
source_modules = "app.datamgmt.manage.manage_case_state_db"
forbidden_modules = "app.schema.marshables"
allow_indirect_imports = true

[[tool.importlinter.contracts]]
name = "Do not import the engine from the persistence layer"
type = "forbidden"
source_modules = "app.datamgmt.case"
forbidden_modules = "app.iris_engine"
allow_indirect_imports = true

